/* ================================================ */
$standard_bound: 1366px;
$tablet_bound: 768px;
$mobile_bound: 480px;
$box_shadow_color: #9e9e9e;
/* ================================================ */

html{
    font-family: "Myriad Pro","Helvetica", sans-serif;
    font-size: 14px;
}
h1{
	font-size: 40px;
    margin: 10px 0;
    letter-spacing: 1px;
    font-weight: 600;
    text-align: center;
    color:#7CB342;
}
h2{
    font-size: 20px;
    margin: 5px 0;
    >a{
    	text-decoration:none;
    	color:black;
    	&:hover{
    		opacity:.5;
    	}
    }
}
h3{
	font-size: 16px;
    font-style: italic;
    margin: 10px 0;
    color: #8bc34a;
}
p{
	margin:5px 0;
	line-height: 1.2;
}
.italic{
	font-style:italic;
}
.align-center{
	text-align:center;
}
#page{
	width:65%;
	margin:0 auto;

	@media screen and (min-width: $tablet_bound) and (max-width:$standard_bound){
		width:80%;
	}
	@media screen and (max-width: $tablet_bound){
		width:100%;
	}
}
#header{
	width: 65%;
    margin: 20px auto;
	padding: 5px;
    text-align:center;
    -webkit-text-align:center;
    font-size:18px;
    >a{
    	flex:1;
    	-webkit-flex:1;
    	text-decoration:none;
    	color:#616161;
    	font-weight:600;
    	-webkit-transition: opacity .5s, color .5s;
    	transition: opacity .5s, color .5s; 
    	display:flex;
    	display:-webkit-flex;
    	&:hover{
    		color:#9CCC65;
    	}
    	@media screen and (max-width: $tablet_bound){
    		display:block;
    		padding:15px;
    		border-bottom: 1px solid #eee;
    		&:hover{
    			background-color:#f5f5f5;
    		}
    	}
    }
	@media screen and (max-width: $tablet_bound){
		display:none;
		position:fixed;
		top:0;
		width:100%;
		background:#fff;
		margin:0;
		padding:0;
    	border-bottom: 3px solid #8BC34A;
	}
	@media screen and (min-width: $tablet_bound){
    	display: flex !important;
    	display:-webkit-flex !important;
	}
}
#mobile-menu-icon{
	@media screen and (max-width: $tablet_bound){
		position:fixed;
		display:block;
	}
	display:none;
	cursor:pointer;
	left: 5px;
    top: 4px;
	width:40px;
	height:40px;
	border-radius:5px;
	background: linear-gradient(#C5E1A5, #8BC34A);
	z-index:5;
	span{
		width: 30px;
	    height: 5px;
	    background: white;
	    border-radius: 10px;
	    display: block;
	    position:absolute;
	    left:5px;
	    opacity:1;
	    transform: rotate(0deg);
	    transition: .25s ease-in-out;
	    &:nth-child(1){
	    	top: 6px;
	    	&.toggle-menu{
	    		transform: rotate(45deg);
			    top: 17px;
	    	}
	    }
	    &:nth-child(2){
	    	top: 17px;
	    	&.toggle-menu{
	    		width:0%;
	    		opacity:0;
	    	}
	    }
	    &:nth-child(3){
	    	top: 28px;
	    	&.toggle-menu{
	    		transform: rotate(45deg);
			    top: 17px;
	    	}
	    }
	}
	&.toggle-menu{
		span{
			 &:nth-child(1){
	    		transform: rotate(45deg);
			    top: 17px;
		    }
		     &:nth-child(2){
    		width:0%;
    		opacity:0;
		    }
		    &:nth-child(3){
	    		transform: rotate(-45deg);
			    top: 17px;
			}
	    }
	   
	}
}
#banner{
	img{
		width:100%;
		height:540px;
	}
}
#main-content{
	>div{
		box-shadow:0px 1px 4px 1px $box_shadow_color;
		margin:45px 0;
		padding:30px;
		@media screen and (max-width: $tablet_bound){
			width:100%;
			box-shadow:none;
			margin:30px 0;
		}
	}
}
#biography{
	width: 50%;
    text-align: justify;
    margin: 20px auto;
   	@media screen and (max-width: $tablet_bound){
		width:100%;
	}
}
.divider-view{
	>.divider-view-element{
		display:flex;
		display:-webkit-flex;
		width:65%;
		margin:20px auto;
		padding:5px;
		text-align: center;
		@media screen and (max-width: $tablet_bound){
			flex-direction:column;
			-webkit-flex-direction:column;
			width:100%;
		}
		>.logo{
			flex:1;
			-webkit-flex:1;
			margin:5px 0;
		}
		>.description{
			flex:3;
			-webkit-flex:3;
			margin:5px 0;
			text-align:justify;
		}
	}
}